{{ $personal := promptBoolOnce . "personal" "Is this a personal compouter? (Not for work)" false -}}
{{ $email := promptStringOnce . "git.email" "Git email?" "115584328+pufferfish-connoisseur@users.noreply.github.com" -}}
{{ $name := promptStringOnce . "git.name" "Git name?" "pufferfish-connoiseur" -}}
data:
    personal: {{ $personal }}
    git:
        email: {{ $email | quote }}
        name: {{ $name | quote }}
