{{- $personal := promptBoolOnce . "personal" "Would you like to enable personal mode" false -}}
{{- $email := "115584328+pufferfish-connoisseur@users.noreply.github.com" -}}
{{- $name := "pufferfish-connoisseur" -}}
{{- if not $personal -}}
  {{- $email = promptStringOnce . "git.email" "Git email" $email -}}
  {{- $name = promptStringOnce . "git.name" "Git name" $name -}}
{{- end -}}

data:
    personal: {{ $personal }}
    git:
        email: {{ $email | quote }}
        name: {{ $name | quote }}
